<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }
</style>

<main style="margin-left: 5%; margin-right: 5%; margin-top: 10vh">
  <div style="margin-bottom: 10vh">
    <a href="https://kanye.rest">API SITE</a>
  </div>
  <section style="text-align: center">
    <img
      src="https://images.businessoffashion.com/profiles/asset/1797/43897e2e4a6d155d72dd9df352017b546ef9e229.jpeg"
      alt="W3Schools.com"
      style="width: 300px"
    />
    <h1 style="font-size: 40px; margin-top: 10px">Kanye-West Quote</h1>
    <h3>{{ quote }}</h3>
    <button (click)="getHeroes()">Get Quote</button>
    <button (click)="addFavorit(quote)">Add Favorite</button>
    <ol *ngFor="let item of favoritQuote">
      <li style="list-style-type: none">
        {{ item }}
      </li>
    </ol>
  </section>
  <section style="text-align: center; margin-top: 60px">
    <hr style="max-width: 30%" />
    <h2>My Quotes</h2>
    <form [formGroup]="formQuote" (ngSubmit)="onSubmit()">
      <input id="myQuote" type="text" formControlName="myQuote" />
      <button type="submit">Submit</button>
    </form>
    <ol *ngFor="let item of myQuotes">
      <li style="list-style-type: none">{{ item }}</li>
    </ol>
  </section>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
